<footer>
  <section>
 <article>
    <h3 class="fade-up" appFadeUp>About Me</h3>
    <p class="fade-left" appFadeLeft>Business Administration Graduate specialized in Digital Marketing. Skilled in social media management, paid
      advertising, content creation, and performance analysis. Focused on delivering high ROI and building strong
      online brand presence.</p>
  </article>
  <article>
    <h3 class="fade-up" appFadeUp>Quick Links</h3>
    <ul>
      <li  class="fade-left" appFadeLeft [routerLink]="'/home'">home</li>
      <li class="fade-left" appFadeLeft  [routerLink]="'/project'">project</li>
      <li  class="fade-left" appFadeLeft [routerLink]="'/contact-us'">contact Us</li>
    </ul>
  </article>
  <article class="contact">
    <h3 class="fade-up" appFadeUp>contact</h3>
    <p class="fade-right"  appFadeRight><span >Email :</span>mohamed8abdulaziz</p>
    <p class="fade-right"  appFadeRight><span >loction :</span>Cairo, Egypt</p>
    <p class="fade-right"  appFadeRight><span >phon :</span>01029155459</p>
  </article>
  <article>
    <h3 class="fade-up" appFadeUp>Follow Us</h3>
    <div class="socel">
      <a href="#"  class="fade-up" appFadeUp>
        <i class="fa-brands fa-github"></i>
        </a>
      <a href="#"  class="fade-up" appFadeUp>
        <i class="fa-brands fa-linkedin-in"></i>
        </a>
      <a href="#"  class="fade-up" appFadeUp>
        <i class="fa-solid fa-paper-plane"></i>
        </a>
      <a href="#" class="fade-up" appFadeUp >
        <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
  </article>
  </section>
  <p></p>
</footer>
