.card_page{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  flex-wrap: wrap;

}
.project_card{
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: .3rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}
.project_card img{
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  object-fit: cover;
  anchor-name: --img;
}
.lr{
  height: 50%;
  border-radius: .3rem;
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content:space-between;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 100%;
  left: 5%;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}
.lr .text {
  flex-grow: 2;
}
.lr .text h4{
  transition: var(--transition);
}
.lr .tools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--dark);
  transition: var(--transition);
}
.lr .tools i{
  transition: var(--transition);
}
.project_card:hover .lr {
  top: 45%;
  opacity: 1;
  pointer-events: all;
}
.lr .tools i:hover{
  color: var(--main-color);
}
.lr:hover .text h4 {
  color: var(--main-color);
}
.project_card .rate {
  display: inline;
  position: absolute;
  padding: 0.3rem;
  background-color: var(--main-color);
  color: var(--color-text);
  border-radius: 20px;
  position-anchor: --img ;
  bottom:  calc( anchor(top) - 50px);
  left: calc( anchor(right) - 60px);
}

/** كرت اضافة المزيد  */
.add_new_project {
  height: 250px;
  border-radius: 0.4rem;
  background-color: var(--color-text);
  box-shadow: var(--shadow);
  padding: 0.1rem;
  display: inline-grid;
  place-items: center;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
}

.add_new_project span {
  width: 100%;
  height: 0;
  background-color: var(--color-muted);
  border-radius:  0.4rem;
  font-size: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  transition: var(--transition);
  opacity: 0;
}
.add_new_project span i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.add_new_project span i {
  color: var(--main-color);
}
.add_new_project:hover {
  color: var(--main-color) ;
  transform: translateY(-15px);
}

.add_new_project:hover span {
  height: 100%;
  top: 0;
  opacity: .5;
  color: var(--main-color);
}

/** add type  */
/**ببرت اضافة مشروع جديد  */
.add_type {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  transition: var(--transition);

}
.add_type.hidden {
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}
.add_type.show {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}

.add_type form {
  width: 90%;
  margin: auto;
  height: 80vh;
  overflow-y: auto;
  padding: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-text);
  box-shadow: var(--shadow);
  position: relative;
}

.add_type .fa-circle-xmark{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.4rem;
  color: var(--red);
  cursor: pointer;
}
.add_type form h2 {
  color: var(--main-color);
  text-transform: capitalize;
}
/*& dark mode  */
.card_page.dark .lr{
  background-color: var(--bg4);
}
.card_page.dark .lr .tools {
  color: var(--color-text);
}
.card_page.dark .lr .tools i:hover{
  color: var(--green);
}
.card_page.dark .lr:hover .text h4{
  color: var(--green) !important;
}
.card_page.dark .add_new_project{
  background-color: var(--bg4);
}
.card_page.dark .add_new_project span i {
  color: var(--green);
}
.card_page.dark .add_new_project:hover {
  color: var(--green) !important;
}
.card_page.dark .add_type form {
  background-color: var(--bg4);
}
.card_page.dark .add_type form h2 {
  color: var(--green) !important;
}
.card_page.dark .project_card .rate {
  background-color: var(--green);
}

.alert.alert-danger{
  width: 50%;
}
