hr{
  border-radius: .5rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
  width: 85%;
  margin: auto;
}

.details_page h3{
  color: var(--main-color) !important;
  font-weight: 600;
  padding: .5rem;
  margin-block:40px ;
  border-left: 5px solid var(--main-color);
}

.details_page {
  width: 100%;
  height: 100%;
  padding: clamp(.6rem , 1vw + .4rem , 1.3rem);
}
.container {
  box-shadow: var(--shadow);
  border-radius: 7px;
  padding: 20px;
  margin-block: 30px;
}

.project_details {
  display: flex;
  gap: 1.2rem;
  margin-block: 30px;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}

.project_details .poster {
  width: 50%;
  border: 5px solid var(--primary-color);
  /* height: 350px; */
  border-radius: 7px;
  overflow: hidden;
}
.project_details .poster {
  width: 50%;
  height: 350px;
}
.project_details img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project_details .details {
  width: 45%;
}
.project_details .details h1:hover {
  transition: var(--transition);
}
.project_details .details h1:hover {
  color: var(--main-color);
}
.project_details .details p {
  color: var(--border);
  font-size: 1.1rem;
  margin-top: 10px;
}
.roles{
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
  list-style: none;

}
.roles li{
  margin: .7rem .4rem;
  padding: 0.5rem;
  background-color: var(--main-color);
  color: var(--color-text);
  box-shadow: var(--shadow);
  border-radius: 45px;
  transition: var(--transition);
  cursor: pointer;
}
.roles li:hover{
  background-color: var(--color-text);
  color: var(--main-color);
}

#carouselExampleCaptions .carousel-item {
  width: 100%;
  height: 400px;
}
#carouselExampleCaptions .carousel-item img ,
#carouselExampleCaptions .carousel-item video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lr {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40%;
  left: 0;
  bottom: -60px;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}
.carousel-item:hover .lr {
  opacity: 1;
  bottom: 0;
  pointer-events: all;
}

.project-analytics {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.analytics-header {
    background: #f8f9fa;
  padding: 30px;
  border-radius: 20px;
  width: 45%;
  margin-bottom: 30px;
}

.title-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-block: 30px;
}

.title-box > i {
  font-size: 32px;
  color: var(--main-color);
}

.title-box h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.title-box p {
  margin: 0;
  color: gray;
  font-size: 14px;
}
.charts {
  width: 53%;
  /* display: flex; */
  justify-content: space-evenly;
  /* flex-flow:  row wrap; */
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.charts canvas {

  width:100% !important;
  height: 300px !important;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05)
}

@media screen and (max-width: 992px) {
  .project_details {
    flex-flow: column-reverse;
  }
  .project_details .poster {
    width: 100%;
  }
  .project_details .details {
    width: 100%;
  }
  .project-analytics{
    flex-direction: column ;

  }
  .analytics-header{
    width: 100%;
  }
  .charts{
    width: 100%;
  }

}

.details_page.dark .container{
  background-color: var(--bg4);
}
.details_page.dark .details h1:hover {
  color: var(--green);
}
.details_page.dark h3 {
  color: var(--green) !important;
  border-color: var(--green);
}
.details_page.dark hr{

  border-color: var(--green);
}
.details_page.dark .roles li{
  background-color: var(--green);
  color: var(--color-text);
}
.details_page.dark .challenge li,
.details_page.dark .stra li,
.details_page.dark .tools li{
  color: var(--color-muted);

}
.details_page.dark .roles li:hover{
  background-color: var(--color-text);
  color: var(--green);

}

.details_page.dark .title-box > i{
color: var(--green) !important;
}
.details_page.dark .title-box h4 {

  color: black !important;
}
.details_page.dark .title-box p {
  color: black !important;
  opacity: .7;
}

