<section class="project_page">
  <header >
    <input class="form-control" [(ngModel)]="searchWord" type="text" placeholder="Search projects..." />
    <ul class="search_result" *ngIf="searchWord !==''">
      @for (res of projects; track $index) {
<li *ngIf="res.project_title.toLocaleLowerCase().trim().includes(searchWord.toLocaleLowerCase().trim())" (click)="searchWord = res.project_title">{{res.project_title}}</li>
      }
    </ul>
     <span >
      <i   [ngClass]="
    {'fa-pen-to-square fa-solid': !adminMode  ,'fa-regular fa-floppy-disk': adminMode}" (click)=" adminMode ? saveData() : login()" ></i>
    </span>
  </header>
  <article class="type">
    <ul>
    <li class="active">all</li>
  </ul>
  <span *ngIf="adminMode">  <i class="fa-solid fa-plus" ></i>
</span>
</article>
  <article class="projects">
    <app-projects-cart  [projcets]="projects |search : searchWord" [adminMode]="adminMode"></app-projects-cart>
  </article>

</section>

<!--! login section  -->
<section class="login hidden" #loginSection>
  <form [formGroup]="singUp" (ngSubmit)="submitLogin()" class="hidden" #popert>
    <i class="fa-solid fa-circle-xmark" (click)="closing()"></i>
    <h3>Accessing admin mode</h3>
    <label class="form-label" for="name">Name</label>
      <input class="form-control"  type="text" id="name" placeholder="Your Name ...." formControlName="user">
      <label class="form-label" for="password">Password</label>
      <input class="form-control"  type="password" id="password" placeholder="Password" formControlName="pass">
      <button type="submit">Login</button>
  </form>
</section>

