
.nav-item a {
  transition: var(--transition);
  border-bottom:.3rem solid transparent ;
  position: relative;
}
.nav-item:hover a{
  color: var(--main-color);
}
.nav-item a::after {
  content: "";
  display: block;
  width: 0%;
  height: .3rem;
  background-color: var(--main-color);
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: var(--transition);
}
.nav-item:hover a::after{
  width: 100%;
  opacity: 1;
}

.nav-item a.active {
  color: var(--main-color);
}
