/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #0057ff;
  --color-primary: #01b4e4;
  --dark: #0d253f;
  --bg: #081c24;
  --color-text: #ffffff;
  --color-muted: #f2f2f2;
  --red: #b71c1c;
  --green: #198754;
  --gold: rgb(255, 190, 51);
  --bg2: #1f1f1f;
  --bg3: #202124;
  --border: #757575;

  --transition: 0.5s all;
  --shadow:
    0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
    0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  appearance: none;
  background-color: #f2f2f2;
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: var(--main-color);
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
#toast-container {
  position: fixed;
  top: 2.5rem;
}
.fade-up {
  opacity: 0;
  transform: translateY(90px) scale(0.6);
  transition: 0.8s all ease-in-out;
  transition-delay: 0.2s;
}
.fade-right{
  opacity: 0;
  transform: translateX(80px) scale(.6);
  transition: 0.8s all ease-in-out;
  transition-delay: 0.2s;
}
.fade-left{
  opacity: 0;
  transform: translateX(-80px) scale(.6);
  transition: 0.8s all ease-in-out;
  transition-delay: 0.2s;
}

.fade-right.show,
.fade-left.show,
.fade-up.show {
  opacity: 1;
  transform: translate(0) scale(1);
}
body.dark{
  background-color: var(--bg3);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark label,
body.dark span{
  color: #EDEDED  !important;
}
/* لوان دارك أساسية (Safe & Popular)

#121212 → أسود ناعم (الأكثر استخدامًا – Material Dark)

#181818 → داكن جدًا مع راحة للعين

#1C1C1C → ممتاز للخلفية الرئيسية

#202124 → مستخدم في Google Dark Theme

🌌 دارك مائل للأزرق (Modern & Tech)

#0F172A → Dark Navy (Tailwind)

#111827 → Gray-900

#1E293B → مناسب للـ Dashboards

#0A192F → ستايل برمجي / Hacker 😎
*/
